.color-title
{
    font: weight 200px;;
}
img{
    height: 200px;
    width: 200px;
}
#red
{
    color:red;
}
#green
{
    color:green;
}
#blue
{
    color:blue;
}
#orange
{
    color:orange;
}
